<%- include('partial/head.ejs') %>
<%- include('partial/container_up.ejs') %>
<%- include('partial/header.ejs') %>

<div>
    <h2>概要</h2>
    <p> <%= activity %>は、プログラミングコンテストに参加し、技術力を高めることを目的とした学生団体です。多様なバックグラウンドを持つメンバーが集まり、切磋琢磨しながら成長しています。</p>
</div>

<div>
    <h2>理念</h2>
    <p>私たち <%= activity %> は、技術の探求と創造を通じて、未来の可能性を広げることを使命としています。チームワークと革新を重んじ、共に成長し続けることを目指します。</p>
</div>

<%- include('partial/container_down.ejs') %>
<%- include('partial/footer.ejs') %>