<%- include('partial/head.ejs') %>
<%- include('partial/container_up.ejs') %>
<%- include('partial/navi.ejs') %>

<h2>お問い合わせはこちらからどうぞ</h2>

<form action="/submit" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Submit</button>
</form>


<%- include('partial/container_down.ejs') %>
<%- include('partial/footer.ejs') %>