<%- include('partial/head.ejs') %>
<%- include('partial/container_up.ejs') %>
<%- include('partial/header.ejs') %>
<div>
    <h2>NEWS</h2>
    <div>
        <ul>
            <li>ニュース1: 新しいイベントが開催されます。</li>
            <li>ニュース2: メンバー募集のお知らせ。</li>
            <li>ニュース3: ウェブサイトがリニューアルされました。</li>
        </ul>
    </div>
</div>

<%- include('partial/container_down.ejs') %>
<%- include('partial/footer.ejs') %>