<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/nav.ejs') %>
                <div class="page-wrapper">
                    <div class="container">
                        <div class="contents-wrapper">
                            <div class="main-contents width-max">
                                <div class="sections-wrapper">
                                    <div class="section width-max shadow">
                                        <h2 class="section-title">Recent News</h2>
                                        <div class="list-wrapper">
                                            <ul class="list font-1em">
                                                <%if (articles && articles.length> 0){
                                                    articles.forEach((row)=>{ %>
                                                    <li class="nowrap nopad nomag">
                                                        <span>
                                                            <%= row.post_date.substring(0, 10) %>
                                                        </span>
                                                        <span class="genre-name nopad nomag">
                                                            <%= row.genre_name %>
                                                        </span>
                                                        <a class="nopad nomag" href="/news/<%= row.id %>">
                                                            <%= row.title %>
                                                        </a>
                                                    </li>
                                                    <% }) } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="paging">
                                    <div>
                                        <a href=""><img src=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('partial/footer.ejs') %>

    </div>