<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/top_image.ejs') %>
                <%- include('partial/nav.ejs') %>
                    <div class="container">
                        <div class="contents-wrapper">
                            <div class="main-contents">
                                <div class="sections-wrapper">
                                    <div class="section mini shadow">
                                        <h2 class="section-title">Recent News</h2>
                                        <div class="list-wrapper">
                                            <ul class="list font-1em">
                                                <li class="nowrap"><a>第二回LT会を開催しました。</a></li>
                                                <li class="nowrap"><a>学園祭にて、フランクフルト屋台の出店が確定しました。</a></li>
                                                <li class="nowrap"><a>学園祭にて、アプリ展示を行います。</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="section mini shadow">
                                        <h2 class="section-title">Recent Update</h2>
                                        <div class="list-wrapper">
                                            <ul class="list font-1em">
                                                <li class="nowrap">Update 1: New features added.</li>
                                                <li class="nowrap">Update 2: Bug fixes implemented.</li>
                                                <li class="nowrap">Update 3: Performance improvements.</li>
                                                <li class="nowrap">Uodate 4: New features added.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="section-title">Contents</h2>
                                <div class="sections-wrapper">
                                    <div class="section shadow">
                                        <h2 class="section-title">Recent Update</h2>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side-contents">
                                <h2>Side Menu</h2>
                                
                            </div>
                        </div>
                    </div>
    </div>

    <%- include('partial/footer.ejs') %>