<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/top_image.ejs') %>
                <%- include('partial/nav.ejs') %>
                    <div class="container">
                        <div class="contents-wrapper">
                            <div class="main-contents">
                                <div class="sections-wrapper">
                                    <div class="section mini shadow">
                                        <h2 class="section-title">Recent News</h2>
                                        <div class="list-wrapper">
                                            <ul class="list font-1em">
                                                <%if (articles && articles.length> 0){
                                                    articles.forEach((row)=>{ %>
                                                    <li class="nowrap nopad nomag">
                                                        <span>
                                                            <%= row.post_date.substring(0, 10) %>
                                                        </span>
                                                        <span class="genre-name nopad nomag">
                                                            <%= row.genre_name %>
                                                        </span>
                                                        <a class="nopad nomag" href="/news/<%= row.id %>">
                                                            <%= row.title %>
                                                        </a>
                                                    </li>
                                                    <% }) } %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="section mini shadow">
                                        <h2 class="section-title">Recent Update</h2>
                                        <div class="list-wrapper">
                                            <ul class="list font-1em">
                                                <%if (updates && updates.length> 0){
                                                    updates.forEach((row)=>{ %>
                                                    <li class="nowrap nopad nomag">
                                                        <span>
                                                            <%= row.post_date.substring(0, 10) %>
                                                        </span>
                                                        <span class="genre-name nopad nomag">
                                                            <%= row.genre_name %>
                                                        </span>
                                                        <a class="nopad nomag" href="/updates/<%= row.id %>">
                                                            <%= row.title %>
                                                        </a>
                                                    </li>
                                                    <% }) } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="section-title">Contents</h2>
                                <div class="sections-wrapper">
                                    <div class="section shadow">
                                        <h2 class="section-title">Recent Update</h2>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side-contents">
                                <h2>Side Menu</h2>

                            </div>
                        </div>
                    </div>
    </div>

    <%- include('partial/footer.ejs') %>